@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* Open Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* Merriweather  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Open+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Merriweather+Sans&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: "Merriweather Sans", sans-serif; */
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  /* font-family: "Merriweather Sans", sans-serif; */
}

.card {
  /* background-color: black; */
  background-color: #1d2226;
  /* color: rgb(243, 237, 237); */
  /* color: #c5c6c7; */
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar {
  /* background-color: #c7d0d8; */
  background-color: #1d2226;
}

html,
body,
.App,
.App > div {
  height: 100%;
  /* background-color: rgba(48, 47, 67, 0.8); */
  background-color: #302f43;
  background-color: black;
}

.card-img {
  width: 100%;
  align-items: center;
  /* height: 15vw;
  object-fit: cover; */
}

.edit:hover {
  cursor: pointer;
  color: #17fc1b;
}

.heart:hover {
  cursor: pointer;
  color: #fc3d96;
}

.bookmark:hover {
  cursor: pointer;
  color: #246efd;
}
