@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.card {
  /* background-color: black; */
  background-color: #1d2226;
  /* color: rgb(243, 237, 237); */
  /* color: #c5c6c7; */
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar {
  /* background-color: #c7d0d8; */
  background-color: #1d2226;
}

html,
body,
.App,
.App > div {
  height: 100%;
  /* background-color: rgba(48, 47, 67, 0.8); */
  background-color: #302f43;
  background-color: black;
}
